header{
    background: var(--color-cartao-background);

}

.estrela-icon{
   width: 10%;
   background: var(--color-background-numero);
   margin:   1.5em 1.5em 0 1.5em;
   border: 1px solid transparent;
   border-radius: 16px;
   padding: 0.5em; 

}
.container{
    display: flex;
    flex-direction: column;
    background: var(--color-cartao-background);
    color: #fff;
    border: 1px solid transparent;
    border-radius: 20px;
    margin: 2em 0.5em;
}
.caixa{
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin: 0.5em 1em;
   padding: 0.5em 1em;

}
.titulo{
    padding: 0.5em 0;
    color: var(--color-titulo);
    font-weight: 700;
    font-size: 22px;  
}
.texto{
    font-weight: 300;
    color: var(--color-texto);
    font-weight: 500;
}
.caixa-numero{
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 1em 0;
    margin: 0 0.1em;
}
.nota{
    padding: 1em 1.5em;
    background: var(--color-background-numero);
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 0.5em;
}
.nota:hover{
    background-color: var(--color-texto);

}
.input{
  display: none;
}
.botao{
    display: flex;
    justify-content: center;
    padding: 1em 0;
}
.submit{
    padding: 0.5em 7em;
    border-radius: 16px;
    cursor: pointer;
    margin:0 2em;
    background: var(--color-button);
    color: #FFF;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}
.submit:hover{
    background: #fff;
    color: var(--color-button);
}
.padrao{
    background-color: var(--color-texto);;
    background-color: rgb(38, 47, 56);
}
.selecionado{
    background: var(--color-button);
    color: #fff;
}
 .rodape{
    margin:0 0 0.5em 1em ;
 }
.texto-rodape{
    color: var(--color-button);
}