.caixa-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2em 2.5em;
}
.cartao{
    width: 100%;
    height: 92vh;
}
.imagem-obrigado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0.5em 0 1.5em 0;
}
.resultado{
    border: 1px solid transparent;
    border-radius: 1em;
    background: var(--color-background-numero);
    font-weight: 700;
    padding: 0.5em 2em;
    margin: 0.5em 0;
    color: var(--color-button);
}
.caixa-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:  0 0.5em;
}
.texto-superior{
    color: var(--color-titulo);
    font-size: 22px;
    padding: 0.7em 0;
    text-align: center;
}
.paragrafo{
    text-align: center;
    font-weight: 300;
    color: var(--color-texto);
    font-weight: 500;
}
.caixa-sair{
    display: flex;
    justify-content: end;
    padding: 0.5em 0.5em;
}
.sair{
    border: 1px solid transparent;
    border-radius: 50%;
    background: var(--color-background-numero);
    color: var(--color-button);
    padding: 0.5em;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}
