@import url(./cartao.css);

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    --color-cartao-background: #212832;
    --color-button: #fc7613;
    --color-titulo: #f9fafd;
    --color-texto:#777d8b;
    --color-background-numero: #262f38;
    --font-cartao: 'Overpass', sans-serif;

}

body{
    background-repeat: no-repeat;
    font-family: var(--font-cartao);
    background: black;
   


}